version: '3.8'

services:
  flask:
    build: flask
    image: ${_IMAGE_TAG}
    ports:
      - "56733:8000"
    volumes:
      - ./flask:/flask
    env_file:
      - .env.dev
    depends_on:
      - db

  db:
    image: postgres:13-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Sms_242025
      POSTGRES_DB: postgres

volumes:
  postgres_data:
