<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PM 2.5 Calendar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hw03.css') }}">
</head>


<body>
  <h2 style="text-align: center;">PM 2.5 Calendar</h2>
  <table style="width: 100%;">
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    <tr>
      {% for i in range(fday-1) %}
      <td></td>
      {% endfor %}
      {% for i in range(7-fday+1) %}
        {% if pmData[i]['avg']<=50 %}
          <td class="good" style="text-align: center;">
            <p>{{ pmData[i]['day'] }}</p>
            {% if i==0 %}
              <p>-</p>
            {% elif pmData[i-1]['avg']<pmData[i]['avg'] and i!=fday-6 %}
              <p>↑</p>
            {% elif pmData[i-1]['avg']>pmData[i]['avg'] and i!=fday-6 %}
              <p>↓</p>
            {% else %}
              <p>↔</p>
            {% endif %}
            <p>{{ pmData[i]['avg'] }}</p>
          </td>
        {% elif pmData[i]['avg']<=100 %}
          <td class="moderate" style="text-align: center;">
            <p>{{ pmData[i]['day'] }}</p>
            {% if i==0 %}
              <p>-</p>
            {% elif pmData[i-1]['avg']<pmData[i]['avg'] and i!=fday-6 %}
              <p>↑</p>
            {% elif pmData[i-1]['avg']>pmData[i]['avg'] and i!=fday-6 %}
              <p>↓</p>
            {% else %}
              <p>↔</p>
            {% endif %}
            <p>{{ pmData[i]['avg'] }}</p>
          </td>
        {% elif pmData[i]['avg']<=150 %}
          <td class="unhealthy-sensitive" style="text-align: center;">
            <p>{{ pmData[i]['day'] }}</p>
            {% if i==0 %}
              <p>-</p>
            {% elif pmData[i-1]['avg']<pmData[i]['avg'] and i!=fday-6 %}
              <p>↑</p>
            {% elif pmData[i-1]['avg']>pmData[i]['avg'] and i!=fday-6 %}
              <p>↓</p>
            {% else %}
              <p>↔</p>
            {% endif %}
            <p>{{ pmData[i]['avg'] }}</p>
          </td>
        {% elif pmData[i]['avg']<=200 %}
          <td class="unhealthy" style="text-align: center;">
            <p>{{ pmData[i]['day'] }}</p>
            {% if i==0 %}
              <p>-</p>
            {% elif pmData[i-1]['avg']<pmData[i]['avg'] and i!=fday-6 %}
              <p>↑</p>
            {% elif pmData[i-1]['avg']>pmData[i]['avg'] and i!=fday-6 %}
              <p>↓</p>
            {% else %}
              <p>↔</p>
            {% endif %}
            <p>{{ pmData[i]['avg'] }}</p>
          </td>
        {% elif pmData[i]['avg']<=300 %}
          <td class="very-unhealthy" style="text-align: center;">
            <p>{{ pmData[i]['day'] }}</p>
            {% if i==0 %}
              <p>-</p>
            {% elif pmData[i-1]['avg']<pmData[i]['avg'] and i!=fday-6 %}
              <p>↑</p>
            {% elif pmData[i-1]['avg']>pmData[i]['avg'] and i!=fday-6 %}
              <p>↓</p>
            {% else %}
              <p>↔</p>
            {% endif %}
            <p>{{ pmData[i]['avg'] }}</p>
          </td>
        {% else %}
          <td class="hazardous" style="text-align: center;">
            <p>{{ pmData[i]['day'] }}</p>
            {% if i==0 %}
              <p>-</p>
            {% elif pmData[i-1]['avg']<pmData[i]['avg'] and i!=fday-6 %}
              <p>↑</p>
            {% elif pmData[i-1]['avg']>pmData[i]['avg'] and i!=fday-6 %}
              <p>↓</p>
            {% else %}
              <p>↔</p>
            {% endif %}
            <p>{{ pmData[i]['avg'] }}</p>
          </td>
        {% endif %}
      {% endfor %}
    </tr>

    <!-- body  -->
    <tr>
    {% for l in range(num_ow) %}
      {% if(l==0) %}
        {% for i in range(7-fday+1,7-fday+7+1) %}
            {% if pmData[i]['avg']<=50 %}
            <td class="good" style="text-align: center;">
              <p>{{ pmData[i]['day'] }}</p>
              {% if(i==7-fday+1) %}
                {% if(pmData[7-fday]['avg']<pmData[i]['avg']) %}
                  <p>↑</p>
                  {% elif(pmData[7-fday]['avg']>pmData[i]['avg']) %}
                  <p>↓</p>
                  {% else %}
                  <p>↔</p>
                {% endif %}
                <p>{{ pmData[i]['avg'] }}</p>
              {% else %}
                {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                  <p>↑</p>
                  {% elif(pmData[i-1]['avg']>pmData[i]['avg'])%}
                  <p>↓</p>
                  {% else %}
                  <p>↔</p>
                {% endif %}
                <p>{{ pmData[i]['avg'] }}</p>
              {% endif %}
            </td>
            {% elif pmData[i]['avg']<=100 %}
            <td class="moderate" style="text-align: center;">
              <p>{{ pmData[i]['day'] }}</p>
              {% if(i==7-fday+1) %}
                {% if(pmData[7-fday]['avg']<pmData[i]['avg']) %}
                  <p>↑</p>
                  {% elif(pmData[7-fday]['avg']>pmData[i]['avg']) %}
                  <p>↓</p>
                  {% else %}
                  <p>↔</p>
                {% endif %}
                <p>{{ pmData[i]['avg'] }}</p>
              {% else %}
                {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                  <p>↑</p>
                  {% elif(pmData[i-1]['avg']>pmData[i]['avg'])%}
                  <p>↓</p>
                  {% else %}
                  <p>↔</p>
                {% endif %}
                <p>{{ pmData[i]['avg'] }}</p>
              {% endif %}
            </td>
            {% elif pmData[i]['avg']<=150 %}
              <td class="unhealthy-sensitive" style="text-align: center;">
                <p>{{ pmData[i]['day'] }}</p>
                {% if(i==7-fday+1) %}
                  {% if(pmData[7-fday]['avg']<pmData[i]['avg']) %}
                    <p>↑</p>
                    {% elif(pmData[7-fday]['avg']>pmData[i]['avg']) %}
                    <p>↓</p>
                    {% else %}
                    <p>↔</p>
                  {% endif %}
                  <p>{{ pmData[i]['avg'] }}</p>
                {% else %}
                  {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                    <p>↑</p>
                    {% elif(pmData[i-1]['avg']>pmData[i]['avg'])%}
                    <p>↓</p>
                    {% else %}
                    <p>↔</p>
                  {% endif %}
                  <p>{{ pmData[i]['avg'] }}</p>    
                {% endif %}
            </td>
          {% elif pmData[i]['avg']<=200 %}
            <td class="unhealthy" style="text-align: center;">
              <p>{{ pmData[i]['day'] }}</p>
              {% if(i==7-fday+1) %}
                {% if(pmData[7-fday]['avg']<pmData[i]['avg']) %}
                  <p>↑</p>
                  {% elif(pmData[7-fday]['avg']>pmData[i]['avg']) %}
                  <p>↓</p>
                  {% else %}
                  <p>↔</p>
                {% endif %}
                <p>{{ pmData[i]['avg'] }}</p>
              {% else %}
                {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                  <p>↑</p>
                  {% elif(pmData[i-1]['avg']>pmData[i]['avg'])%}
                  <p>↓</p>
                  {% else %}
                  <p>↔</p>
                {% endif %}
                <p>{{ pmData[i]['avg'] }}</p>    
              {% endif %}
            </td>
          {% elif pmData[i]['avg']<=300 %}
            <td class="very-unhealthy" style="text-align: center;">
              <p>{{ pmData[i]['day'] }}</p>
              {% if(i==7-fday+1) %}
                {% if(pmData[7-fday]['avg']<pmData[i]['avg']) %}
                  <p>↑</p>
                  {% elif(pmData[7-fday]['avg']>pmData[i]['avg']) %}
                  <p>↓</p>
                  {% else %}
                  <p>↔</p>
                {% endif %}
                <p>{{ pmData[i]['avg'] }}</p>
              {% else %}
                {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                  <p>↑</p>
                  {% elif(pmData[i-1]['avg']>pmData[i]['avg'])%}
                  <p>↓</p>
                  {% else %}
                  <p>↔</p>
                {% endif %}
                <p>{{ pmData[i]['avg'] }}</p>    
              {% endif %}
            </td>
          {% else %}
            <td class="hazardous" style="text-align: center;">
              <p>{{ pmData[i]['day'] }}</p>
              {% if(i==7-fday+1) %}
                {% if(pmData[7-fday]['avg']<pmData[i]['avg']) %}
                  <p>↑</p>
                  {% elif(pmData[7-fday]['avg']>pmData[i]['avg']) %}
                  <p>↓</p>
                  {% else %}
                  <p>↔</p>
                {% endif %}
                <p>{{ pmData[i]['avg'] }}</p>
              {% else %}
                {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                  <p>↑</p>
                  {% elif(pmData[i-1]['avg']>pmData[i]['avg'])%}
                  <p>↓</p>
                  {% else %}
                  <p>↔</p>
                {% endif %}
                <p>{{ pmData[i]['avg'] }}</p>    
              {% endif %}
            </td>
          {% endif %}
        {%endfor%}
      {% else %}
        {% for i in range(7-fday+1*(l+1),7-fday+7*(l+1)) %}
          {% if pmData[i]['avg']<=50 %}
            <td class="good" style="text-align: center;">
              <p>{{ pmData[i]['day'] }}</p>
              {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                <p>↑</p>
              {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
                <p>↓</p>
              {% else %}
                <p>↔</p>
              {% endif %}
              <p>{{ pmData[i]['avg'] }}</p>
            </td>
          {% elif pmData[i]['avg']<=100 %}
            <td class="moderate" style="text-align: center;">
              <p>{{ pmData[i]['day'] }}</p>
              {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                <p>↑</p>
              {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
                <p>↓</p>
              {% else %}
                <p>↔</p>
              {% endif %}
              <p>{{ pmData[i]['avg'] }}</p>
            </td>
          {% elif pmData[i]['avg']<=150 %}
            <td class="unhealthy-sensitive" style="text-align: center;">
              <p>{{ pmData[i]['day'] }}</p>
              {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                <p>↑</p>
              {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
                <p>↓</p>
              {% else %}
                <p>↔</p>
              {% endif %}
              <p>{{ pmData[i]['avg'] }}</p>
            </td>
          {% elif pmData[i]['avg']<=200 %}
            <td class="unhealthy" style="text-align: center;">
              <p>{{ pmData[i]['day'] }}</p>
              {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                <p>↑</p>
              {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
                <p>↓</p>
              {% else %}
                <p>↔</p>
              {% endif %}
              <p>{{ pmData[i]['avg'] }}</p>
            </td>
          {% elif pmData[i]['avg']<=300 %}
            <td class="very-unhealthy" style="text-align: center;">
              <p>{{ pmData[i]['day'] }}</p>
              {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                <p>↑</p>
              {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
                <p>↓</p>
              {% else %}
                <p>↔</p>
              {% endif %}
              <p>{{ pmData[i]['avg'] }}</p>
            </td>
          {% else %}
            <td class="hazardous" style="text-align: center;">
              <p>{{ pmData[i]['day'] }}</p>
              {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
                <p>↑</p>
              {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
                <p>↓</p>
              {% else %}
                <p>↔</p>
              {% endif %}
              <p>{{ pmData[i]['avg'] }}</p>
            </td>
          {% endif %}
        {% endfor %} 
      {% endif %}
    {% endfor %} 
    </tr>
    <!-- lastweek  -->
    <tr>
      {% for i in range(fd_inlw,len(pmData)): %}
        {% if pmData[i]['avg']<=50 %}
        <td class="good" style="text-align: center;">
          <p>{{ pmData[i]['day'] }}</p>
          {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
            <p>↑</p>
          {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
            <p>↓</p>
          {% else %}
            <p>↔</p>
          {% endif %}
          <p>{{ pmData[i]['avg'] }}</p>
        </td>
        {% elif pmData[i]['avg']<=100 %}
          <td class="moderate" style="text-align: center;">
            <p>{{ pmData[i]['day'] }}</p>
            {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
              <p>↑</p>
            {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
              <p>↓</p>
            {% else %}
              <p>↔</p>
            {% endif %}
            <p>{{ pmData[i]['avg'] }}</p>
          </td>
        {% elif pmData[i]['avg']<=150 %}
          <td class="unhealthy-sensitive" style="text-align: center;">
            <p>{{ pmData[i]['day'] }}</p>
            {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
              <p>↑</p>
            {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
              <p>↓</p>
            {% else %}
              <p>↔</p>
            {% endif %}
            <p>{{ pmData[i]['avg'] }}</p>
          </td>
        {% elif pmData[i]['avg']<=200 %}
          <td class="unhealthy" style="text-align: center;">
            <p>{{ pmData[i]['day'] }}</p>
            {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
              <p>↑</p>
            {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
              <p>↓</p>
            {% else %}
              <p>↔</p>
            {% endif %}
            <p>{{ pmData[i]['avg'] }}</p>
          </td>
        {% elif pmData[i]['avg']<=300 %}
          <td class="very-unhealthy" style="text-align: center;">
            <p>{{ pmData[i]['day'] }}</p>
            {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
              <p>↑</p>
            {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
              <p>↓</p>
            {% else %}
              <p>↔</p>
            {% endif %}
            <p>{{ pmData[i]['avg'] }}</p>
          </td>
        {% else %}
          <td class="hazardous" style="text-align: center;">
            <p>{{ pmData[i]['day'] }}</p>
            {% if(pmData[i-1]['avg']<pmData[i]['avg']) %}
              <p>↑</p>
            {% elif(pmData[i-1]['avg']>pmData[i]['avg']) %}
              <p>↓</p>
            {% else %}
              <p>↔</p>
            {% endif %}
            <p>{{ pmData[i]['avg'] }}</p>
          </td>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
</body>
</html>