a { 
   color: #000000;
   text-decoration: none ;
   font-family: "Archivo Narrow";
}
img{
   margin-left: 10px;
}
.mobilescreen {
  background: linear-gradient(180deg, #FFFFFFEB 2%, #FEFAC0 79%);
  justify-content: center;
  justify-items: center;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
}
.reply-icon {
	width: 52px;
	height: 52px;
	fill: #000000;
}
.mainbox {
   padding: 8px;
   margin-top: 20px;
   width: 90%;
   box-shadow: 0px 24px 30px #00000040;
   background: radial-gradient(circle at 0% 0%, #FFFFFF 0%, #cf9241 100%);
   border-radius: 20px;
}
.row {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
.left-align{
    justify-items: left;
    justify-content: left;
}
.split-6-12{
    min-width: 50%;
    width: 50%;
    max-width: 50%;
}
.split-3-12{
    min-width: 25%;
    width: 25%;
    max-width: 25%;
}
.column {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
}
.recName {
    width: 4px;
    height: 40px;
    padding: 4px;
    margin-right: 10px;
    background: #000000;
    border: 1px solid #000000;
}
.input-box {
	background: #FFFFFF;
	font-weight: 400;
	text-align: left;
   	padding: 2vh 0 2vh 0;
   	justify-content: center;
   	align-items: center;
   	display: flex;
   	border-radius: 30px;
   	border: none;
   	font-size: 2vh;
   	position: relative;
    width: 100%;
    margin: 5%;
}
.btm-btn {
    width: 100%;
    margin: 10% 7.5% 5% 7.5%;
	background: #FFFFFF;
	font-weight: 400;
	text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
   	justify-content: center;
   	align-items: center;
   	display: flex;
   	border-radius: 20vh;
   	border: none;
   	font-size: 2vh;
   	position: relative;
	cursor: pointer;
}
.confirm-button {
    background-color: #00441B;
    color: white;
}
.head-text{
	font-weight: 400;
	text-align: left;
   	justify-content: center;
   	align-items: center;
   	display: flex;
   	font-size: 2vh;
}