*{
   font-family: 'Inter', sans-serif;
}
a { 
   color: #000000;
   text-decoration: none ;
}
img{
   margin-left: 10px;
}
.mobilescreen {
  background: linear-gradient(180deg, #FFFFFFEB 2%, #FEFAC0 79%);
  justify-content: center;
  justify-items: center;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
}
.icon {
	width: 17px;
	height: 21px;
	fill: #000000;
    margin: 0;
}
.mainbox {
   flex-direction: column;
   padding: 16px;
   margin-top: 20px;
   width: 90%;
   /* background: #a084cc; */
   background: linear-gradient(90deg, #000, #333); 
   /* background: linear-gradient(#a084cc , rgb(222, 222, 222) ); */
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
   border-radius: 20px;
}
.row {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
.left-align{
    justify-items: left;
    justify-content: left;
}
.split-6-12{
    min-width: 50%;
    width: 50%;
    max-width: 50%;
}
.split-3-12{
    min-width: 25%;
    width: 25%;
    max-width: 25%;
}
.split-3-12{
    min-width: 25%;
    width: 25%;
    max-width: 25%;
}
.column {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
}
.recName {
    width: 4px;
    height: 40px;
    padding: 4px;
    margin-right: 10px;
    background: white;
    border: 1px solid white;
}
.input-box {
	background: #FFFFFF;
	font-weight: 400;
   	padding: 2vh 0 2vh 0;
   	justify-content: center;
   	align-items: center;
   	display: flex;
   	border-radius: 30px;
   	border: none;
   	font-size: 3vh;
   	position: relative;
    width: 100%;
    margin: 5%;
}
.btm-btn {
    width: 100%;
    margin: 10% 7.5% 5% 7.5%;
	background: #FFFFFF;
	font-weight: 400;
	text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
   	justify-content: center;
   	align-items: center;
   	display: flex;
   	border-radius: 20vh;
   	border: none;
   	font-size: 3vh;
   	position: relative;
	cursor: pointer;
	transition-duration: 0.25s;
}
.btm-btn:hover{
    background-color: lightgray;
}
.confirm-button {
    background-color: #0A5C2A;
    color: white;
    cursor: none;
}
.confirm-button:hover{
    background-color: #006635;
    cursor: pointer;
}
.del-btn{
    margin: 0 7.5% 0 7.5%;
   	padding: 2vh 0 2vh 0;
    background-color: #ff0000;
    color: white;
}
.del-btn:hover{
    background-color: #880000;
    cursor: pointer;
}
.add-btn{
    margin: 7.5% 5% 0 5%;
   	padding: 2vh;
}
.head-text{
	font-weight: 400;
	text-align: left;
   	justify-content: center;
   	align-items: center;
   	display: flex;
    font-size: 2rem;
    color: white;
}
input[type="checkbox"]{
    transform: scale(3);
}
input[type="text"]{
    text-align: left;
}
input[type="text"]::placeholder{
    text-align: center;
}
.dis-btn{
    background-color: #880000;
}
.dis-btn:hover{
    cursor: not-allowed;
}