:root{ 
  --basebg--color: #FFF;
  /* --basebg--color: linear-gradient(#ffffff 0%, #fff0f5 100%);  */
  --base--color: #fff; 
  --text--color: #000; 
  --buttonbg--color: linear-gradient(90deg, #000, #333); 
  --border--color: gray; 
  --hover--color: gray; 
} 

.darkmode{ 
  --basebg--color: #212121; 
  /* --basebg--color: linear-gradient(#070b1d, #282c40); */ 
  --base--color: #282c40; 
  --text--color: #fff; 
  --buttonbg--color: linear-gradient(90deg, #FFF, #e8e8e8); 
  --border--color: gray; 
  --hover--color: gray; 
}

body {
    background: var(--basebg--color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    /* font-family: 'Pridi', serif; */
    font-family: 'Inter', sans-serif;
  }

.top-bar{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 2px solid var(--border--color);
}

.top-bar span{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text--color);
}

.column {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    overflow-y: auto;       
    height: calc(100vh - 160px);  
}

.bot-bar {
    position: fixed;
    bottom: 0;         
    width: 100%;     
    padding: 12px 0;
    z-index: 1000;    
    border-top: 2px solid var(--border--color); 
    font-size: 1rem;
  }

.bot-container {
    text-align: center;
    border-radius: 50px;
    background: var(--buttonbg--color);
    /* background: linear-gradient(90deg, #000, #333);  */
    padding: 14px 0;
    margin: 8px 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
}

.bot-container-total{
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    text-align: left;
    font-size: 1.25rem;

}

.bot-container-total span:first-child {
    color: #6B7280; 
  }

.bot-container-total span:last-child {
    color: var(--text--color);
    font-weight: 600; 
    font-size: 1.2rem;
}

.bot-container button{
    color: var(--base--color);
    font-size: 1.2rem;
    font-weight: 400;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}


.bot-container:hover{
    background-color: rgb(44, 43, 43);
}