body {
  background: linear-gradient(#FAF3E0, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: sans-serif;
}

.material-icons {
  font-size: 2rem;
}

.top-bar{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px;
}

.back, .category, .cart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  flex: 1;
  width: 90%;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  margin: 20px auto;
}

.search-input {
  flex: 1;
  width: 100%;
  border: none;
  font-size: 1rem;
  outline: none;
  background-color: white;
  padding-left: 3%;
}