body {
    /* background-color: white; */
    /* background-color: #f9f9f9; */
    background: linear-gradient(to bottom, #ffffff, #f6f1eb);    
    font-family: 'Inter', sans-serif;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.center-screen {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.text {
    font-size: 1.65rem;
}

.border {
    border: 2px solid black;
    border-radius: 40px;
    margin: auto;
    width: 50%;
    background-color: white;
}

.button {
    background-color: white;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    width: 50%;
    padding: 12px 20px;
    /* font-family: 'Nunito', sans-serif; */
    font-size: 1.65rem;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #f5f5f5;
  }

img {
    width: 65%;
    height: 65%;
    padding-top: 80px;
}

.header {
    font-size: 2rem;
    font-family: 'League Spartan', sans-serif;
    
}

.head-container{
    border-style: none none solid none;
    border-width: 3px;
    border-color: lightgray;
    position: absolute;  
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    top: 0;
    padding-bottom: 10px;
}
