body {
  margin: 0;
  padding: 0;
  font-family: 'Pridi', serif;
  /* font-family: 'Inter', sans-serif; */
  background: linear-gradient(#F9FAFB, #FFF);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.app-container {
  width: 100%;       
  padding: 5vw 4vw;         
  text-align: center;
}

.logo {
  width: 40dvw;
  margin-bottom: 24px;
}

.app-title {
  font-size: 5vw;
  font-weight: 600;
  margin: 2vh 0;
  color: #333;
}

.text {
    margin: 5% 0 0 0;
    font-size: 3vh;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 3vh 4vw;        
  margin: 8vh 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  font-size: 4vw;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #f0f0f0;
}

.login-button .material-icons {
  font-size: 6vw;
  font-size: 28px;
  color: #444;
}

.alert-box {
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(220, 66, 66);
}

.input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  padding: 10px 12px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.center {
  align-items: center;
  justify-items: center;
}

.mainbox {
  margin: 2%;
  padding: 2%;
  justify-items: center;
  max-height: 100%;
  background: #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  max-width: 50%;
  border-radius: 20px;
}

.subbox {
  justify-items: center;
  max-height: 100%;
  border-radius: 20px;
}