body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, #ffffff, #f6f1eb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.app-container {
  width: 100%;       
  padding: 5vw 4vw;         
  text-align: center;
}

.logo {
  width: 40dvw;
  margin-bottom: 24px;
}

.app-title {
  font-size: 5vw;
  font-weight: 600;
  margin: 2vh 0;
  color: #333;
}

.text {
    margin: 5% 0 0 0;
    font-size: 3vh;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 3vh 4vw;        
  margin: 8vh 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  font-size: 4vw;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #f0f0f0;
}

.login-button .material-icons {
  font-size: 6vw;
  font-size: 28px;
  color: #444;
}
