*{
   font-family: 'Inter', sans-serif;
}
a { 
   color: #000000;
   text-decoration: none ;
   font-family: 'Pridi', serif;
   /* font-family: 'Inter', sans-serif; */
}
img{
   margin-left: 10px;
}
.mobilescreen {
    background: linear-gradient(#F9FAFB, #FFF);
    justify-content: center;
    justify-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.recName {
    width: 4px;
    height: 40px;
    padding: 4px;
    margin-right: 10px;
    background: white;
    border: 1px solid white;
}
.reply-icon {
    position: relative;
    left: 0;
	margin-top: 10px;
}
.mainbox {
   flex-direction: column;
   padding: 16px;
   margin-top: 20px;
   width: 90%;
   /* background: #a084cc; */
   background: linear-gradient(90deg, #000, #333); 
   /* background: linear-gradient(#a084cc , rgb(222, 222, 222) ); */
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
   border-radius: 20px;
}
.row {
    display: flex;
    align-items: center;
    width: auto;
    padding: 14px 20px;
}
.column {
    display: flex;
    justify-items: center;
    justify-content: center;
    height: auto;
    gap: 10%;
}
.row span{
    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
}

.input-box {
	background: #FFFFFF;
	font-weight: 400;
	text-align: left;
   	padding: 30px;
   	justify-content: center;
   	align-items: center;
   	display: flex;
   	border-radius: 10px;
   	border: none;
   	font-size: 3vh;
   	position: relative;
	cursor: text;
}
.name-input {
   	width:100%;
   	margin: 5% 5% 0 5%;
}
.cate-input {
   	width:70%;
   	margin: 5% 0 0 5%;
}
.amount-input {
    width:30%;
   	margin: 5% 5% 0 5%;
}
.desc-input {
    width:100%;
   	margin: 5% 5% 5% 5%;
}

.btm-btn {
    width: 100%;
    margin: 10% 7.5% 5% 7.5%;
	background: #E5E7EB;
	font-weight: 400;
	text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
   	justify-content: center;
   	align-items: center;
   	display: flex;
   	border-radius: 35px;
   	border: none;
   	font-size: 3vh;
   	position: relative;
	cursor: pointer;
	transition-duration: 0.25s;
}
.btm-btn:hover{
    background-color: lightgray;
}
.confirm-button {
    background-color: #0A5C2A;
    color: white;
    cursor: none;
}
.confirm-button:hover{
    background-color: #006635;
    cursor: pointer;
}
.default-icon {
	width: 40%;
	height: 40%;
    background-color: white;
    border-radius: 30px;
}
.align-center{
    justify-content: center;
}