:root{
    --bg--color: #F9FAFB;
    --base--color: #FFFFFF;
    --text--color: #111827;
    --border--color: gray;
    --button1--color: #E5E7EB;
    --button2--color: #22C55E;
    --def-icon--color: #eee;
}

.darkmode{
    --bg--color: #121212;
    --base--color: #555;
    --text--color: black;
    --border--color: black;
    --button2--color: #22c55e99;
    --def-icon--color: #888;
}

a span{
    color: var(--text--color);
}

img{
   margin-left: 10px;
}

body {
    background: var(--bg--color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-decoration: none ;
    font-family: 'Inter', sans-serif;
}
.recName {
    width: 4px;
    height: 40px;
    padding: 4px;
    margin-right: 10px;
    background: var(--text--color);
    border: 1px solid var(--text--color);
}
.reply-icon {
    position: relative;
    left: 0;
	margin-top: 10px;
}
.mainbox {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 28px;
   margin-top: 20px;
   width: 90%;
   /* background: #a084cc; */
   background: var(--base--color);
   /* background: linear-gradient(#a084cc , rgb(222, 222, 222) ); */
   box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
   border-radius: 16px;
}
.row {
    display: flex;
    align-items: center;
    width: auto;
    padding: 14px 20px;
}
.column {
    display: flex;
    justify-items: center;
    justify-content: center;
    height: auto;
    gap: 10%;
}
.row span{
    color: var(--text--color);
    font-size: 2rem;
    font-weight: 500;
}

.input-box {
	background: var(--base--color);
    color: var(--text--color);
	font-weight: 400;
	text-align: left;
   	padding: 30px;
   	justify-content: center;
   	align-items: center;
   	display: flex;
   	border-radius: 10px;
   	border: 2px solid var(--border--color);
   	font-size: 3vh;
   	position: relative;
	cursor: text;
}
.input-box::placeholder{
    color: var(--text--color);
}
.name-input {
   	width:100%;
   	margin: 5% 5% 0 5%;
}
.cate-input {
   	width:70%;
   	margin: 5% 0 0 5%;
}
.amount-input {
    width:30%;
   	margin: 5% 5% 0 5%;
}
.desc-input {
    width:100%;
   	margin: 5% 5% 5% 5%;
}

.btm-btn {
    width: 100%;
    margin: 10% 7.5% 5% 7.5%;
	background: var(--button1--color);
	font-weight: 400;
	text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
   	justify-content: center;
   	align-items: center;
   	display: flex;
   	border-radius: 30px;
   	border: none;
   	font-size: 3vh;
   	position: relative;
	cursor: pointer;
	transition-duration: 0.25s;
}

.btm-btn:hover{
    background-color: lightgray;
}

.confirm-button {
    background-color: var(--button2--color);
    color: white;
    cursor: none;
}
.confirm-button:hover{
    background-color: #006635;
    cursor: pointer;
}
.default-icon {
	width: 40%;
	height: 40%;
    background-color: var(--def-icon--color);
    border-radius: 30px;
}
.align-center{
    justify-content: center;
}