a { 
   color: #000000;
   text-decoration: none ;
   font-family: 'Inter', sans-serif;
}
img{
   margin-left: 10px;
}
.mobilescreen {
    background: linear-gradient(#F9FAFB, #FFF);
    justify-content: center;
    justify-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.reply-icon {
    position: relative;
    left: 0;
	margin-top: 10px;
}
.mainbox {
   padding: 8px;
   margin-top: 20px;
   width: 90%;
   box-shadow: 0px 24px 30px #00000040;
   /* background: linear-gradient(90deg, #000, #333); */
   background: radial-gradient(circle at 0% 0%, #333 0%, #111827 100%);
   /* background: radial-gradient(circle at 0% 0%, #FFFFFF 0%, #cf9241 100%); */
   border-radius: 20px;
}
.row {
    display: flex;
    align-items: center;
    width: auto;
    padding: 14px 20px;
}
.column {
    display: flex;
    justify-items: center;
    justify-content: center;
    height: auto;
    gap: 10%;
}
.row span{
    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
}

.input-box {
	background: #FFFFFF;
	font-weight: 400;
	text-align: left;
   	padding: 30px;
   	justify-content: center;
   	align-items: center;
   	display: flex;
   	border-radius: 10px;
   	border: none;
   	font-size: 3vh;
   	position: relative;
	cursor: text;
}
.name-input {
   	width:100%;
   	margin: 5% 5% 0 5%;
}
.cate-input {
   	width:70%;
   	margin: 5% 0 0 5%;
}
.amount-input {
    width:30%;
   	margin: 5% 5% 0 5%;
}
.desc-input {
    width:100%;
   	margin: 5% 5% 5% 5%;
}

.btm-btn {
    width: 100%;
    margin: 10% 7.5% 5% 7.5%;
	background: #E5E7EB;
	font-weight: 400;
	text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
   	justify-content: center;
   	align-items: center;
   	display: flex;
   	border-radius: 35px;
   	border: none;
   	font-size: 3vh;
   	position: relative;
	cursor: pointer;
}
.confirm-button {
    background-color: #0A5C2A;
    color: white;
    cursor: none;
}

.confirm-button:hover{
    background-color: #00441B;
}

.default-icon {
	width: 40%;
	height: 40%;
	fill: #000000;
}
.align-center{
    justify-content: center;
}