:root{
    --bg--color: #FFF;
    --base--color: #EEEEEE;
    --text--color: #000;
    --text2--color: #777;
    --border--color: gray;
    --box--color: #eee;
    --box2--color: #e0f7fa;
    --boxhover--color: #e6f2ff;
    --noti-unread--color: #bbb;
    --noti-read--color: #eee;
    --create-date--color: #555;
}

.darkmode{
    --bg--color: #212121;
    --base--color: #121212;
    --text--color: #FFF;
    --text2--color: #ccc;
    --border--color: #000;
    --box--color: #121212;
    --box2--color: #000066;
    --boxhover--color: #6993f5;
    --noti-unread--color: #414141;
    --noti-read--color: #313131;
    --create-date--color: #757575;
}

body{
    font-family: Arial, sans-serif;
    background: var(--bg--color);
    margin: 0;
    padding: 0;
}

.top-bar{
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: var(--base--color);
    position: sticky;
    top: 0;
}

.top-bar span{
    color: var(--text--color);
    font-size: 1.5rem;
}

.center{
    flex: 1;
    text-align: center;
    margin: 0;
}

.center span{
    font-weight: 600;
    color: var(--text--color);
}

.item{
    display: flex;
    align-items: center;
    background: var(--box--color);
    padding: 20px;
    margin-top: 25px;
    border-radius: 5px;
}

.item :first-child{
    margin-right: 12px;
}

.item-text {
    display: flex;       
    flex-direction: column; 
    align-items: flex-start; 
}

.item-text span {
    font-size: 1rem;
    text-align: left; 
    width: 100%;      
}

.item-text span:last-child{
    align-self: flex-start;
    text-align: left;
    font-size: 0.85rem;
    opacity: 50%;
}

.item svg{
    width: 3rem;
    height: 3rem;
}

.item.unread{
    background: var(--box2--color);
}

.item.read{
    background: var(--box--color);
}

.item span{
    color: var(--text--color);
    flex: 1;
    text-align: left;
    line-height: 1.4;
}

.item:hover{
    background: var(--boxhover--color);
}

.notification-list {
    padding:12px;
}

.notification-item {
    display:flex;
    justify-content:space-between;
    padding:10px;
    border-radius:8px;
    margin-bottom:10px;
    background: var(--noti-read--color);
}
.notification-item.unread {
    background: var(--noti-unread--color);
}
.swipe-delete {
    color:red;
    cursor:pointer;
}

.create-date {
    color: var(--create-date--color);
}

.noti-name {
    color: var(--text--color)
}

.noti-message {
    color: var(--text--color)
}

.read-btn {
    background: var(--box2--color);
    color: var(--text--color);
}

.del-btn {
    background:none;
    border:1px solid #eee;
    padding:6px;
    border-radius:6px;
    color: var(--text--color);
}