:root{
    --bg--color: #FFF;
    --base--color: #FFF;
    --text--color: #000;
    --text2--color: #777;
    --border--color: gray;
    --box--color: #eee;
    --box2--color: #e0f7fa;
    --boxhover--color: #6993f5;
}

.darkmode{
    --bg--color: #212121;
    --base--color: #212121;
    --text--color: #FFF;
    --text2--color: #bbb;
    --border--color: #bbb;
    --box--color: #121212;
    --box2--color: #004d40;
    --boxhover--color: #6993f5;
}

body{
    font-family: Arial, sans-serif;
    background: var(--bg--color);
    margin: 0;
    padding: 0;
}

.top-bar{
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: var(--base--color);
    position: sticky;
    top: 0;
}

.top-bar span{
    color: var(--text--color);
    font-size: 1.5rem;
}

.center{
    flex: 1;
    text-align: center;
    margin: 0;
}

.center span{
    font-weight: 600;
    color: var(--text--color);
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
}

.profile img{
    width: 5rem;
    height: 5rem;
}

.profile-circle {
    background-color: var(--base--color);
    border-radius: 50%;
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

.profile-text {
    color: var(--text2--color);
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    align-items: center;
    margin: 10px;
}

.profile-text span{
    font-size: 1.2rem;
}

.action{
    margin: 0;
    padding: 0;
}

.action-btn{
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--border--color);
    cursor: pointer;
}

.action-btn svg{
    fill: var(--text--color);
}

.action-btn:hover{
    background: #6993f5;
}

.action-btn span{
    color: var(--text--color);
    font-size: 1.25rem;
    font-weight: 600;
}

#logout-bar svg{
    fill: red;
}