:root{
    --bg--color: #FFF;
    --base--color: #EEEEEE;
    --text--color: #000;
    --text2--color: #777;
    --border--color: gray;
    --box--color: #eee;
    --box2--color: #e0f7fa;
    --boxhover--color: #6993f5;
}

.darkmode{
    --bg--color: #212121;
    --base--color: #121212;
    --text--color: #FFF;
    --text2--color: #bbb;
    --border--color: #000;
    --box--color: #121212;
    --box2--color: #004d40;
    --boxhover--color: #6993f5;
}

body{
    font-family: Arial, sans-serif;
    background: var(--bg--color);
    margin: 0;
    padding: 0;
}

.top-bar{
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--border--color);
    background-color: var(--base--color);
    position: sticky;
    top: 0;
}

.top-bar span{
    color: var(--text--color);
    font-size: 1.5rem;
}

.center{
    flex: 1;
    text-align: center;
    margin: 0;
}

.center span{
    font-weight: 600;
    color: var(--text--color);
}

.item{
    display: flex;
    align-items: center;
    background: var(--box--color);
    padding: 20px;
    margin-top: 25px;
    border-radius: 5px;
}

.item :first-child{
    margin-right: 12px;
}

.item-text {
    display: flex;       
    flex-direction: column; 
    align-items: flex-start; 
}

.item-text span {
    font-size: 1rem;
    text-align: left; 
    width: 100%;      
}

.item-text span:last-child{
    align-self: flex-start;
    text-align: left;
    font-size: 0.85rem;
    opacity: 50%;
}

.item svg{
    width: 3rem;
    height: 3rem;
}

.item.unread{
    background: var(--box2--color);
}

.item.read{
    background: var(--box--color);
}

.item span{
    color: var(--text--color);
    flex: 1;
    text-align: left;
    line-height: 1.4;
}

.item:hover{
    background: var(--boxhover--color);
}

