:root{ 
   --basebg--color: linear-gradient(to top, #ff0000, transparent 90%), linear-gradient(to bottom,#fff0f5, transparent 10%);
   /* --basebg--color: linear-gradient(#ffffff 0%, #fff0f5 100%); */ 
   --base--color: #fff; 
   --text--color: #000; 
   --button--color: #aaa;
   --buttonbg--color: #444;
   --border--color: gray; 
   --hover--color: gray; 
 } 

:root img{
   filter: invert(0%);
}
 
 .darkmode{ 
   --basebg--color: #212121; 
   /* --basebg--color: linear-gradient(#070b1d, #282c40); */ 
   --base--color: #121212; 
   --text--color: #121212; 
   --button--color: #444; 
   --buttonbg--color: #555; 
   --border--color: gray; 
   --hover--color: gray; 
 }

body{
   background: var(--basebg--color);
   justify-content: center;
   justify-items: center;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   font-family: 'Inter', sans-serif;
}
a { 
   color: #000000;
   text-decoration: none ;
}
img{
   margin-left: 10px;
}

.reply-icon {
   position: relative;
   left: 0;
}

.reply-icon span{
   color: var(--base--color);
}

.mainbox {
   flex-direction: column;
   padding: 16px;
   margin-top: 20px;
   width: 90%;
   /* background: #a084cc; */
   background: var(--buttonbg--color); 
   /* background: linear-gradient(#a084cc , rgb(222, 222, 222) ); */
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
   border-radius: 20px;
}
.row {
    display: flex;
    align-items: center;
    margin:0px;
    padding: 20px;
    font-weight: 500;
    font-size: 2rem;
}

.row span{
   color: var(--base--color);
}
.column {
   justify-items: center;
   justify-content: center;
   height: auto;
}

.column span{
   color: var(--text--color);
}

.nav-box{
   width:75%;
   padding:  30px;
   justify-content: center;
   align-items: center;
   display: flex;
   margin: 5% 0% 5% 0%;
   background: var(--button--color);
   border-radius: 20px;
   border: none;
   font-weight: 500;
   font-size: 30px;
   position: relative;
	cursor: pointer;
	transition-duration: 0.25s;
}

.recName {
    width: 1px;
    height: 40px;
    padding: 4px;
    margin-right: 10px;
    background: var(--base--color);
    border: 1px solid var(--base--color);
}
.nav-box:hover{
    background-color: lightgray;
}

.category-icon {
	width: 3rem;
	height: 3rem;
	fill: var(--text--color);
}
.addStock-icon {
	width: 3rem;
	height: 3rem;
	fill: var(--text--color);
   color: var(--text--color);
}
