body {
    background: linear-gradient(#FAF3E0, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
  }


.top-bar{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.top-bar span{
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
}

.bot-bar {
    position: fixed;
    bottom: 0;         
    width: 100%;     
    padding: 12px 0;
    text-align: center;
    z-index: 1000;    
    border-top:2px solid lightgray;  
  }

.bot-text {
    position: fixed;
    left: 0;
    align-self: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bot-text span{
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}

.bot-container {
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    background-color: #000;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bot-container span{
    font-weight: 400;
}

.bot-container:hover{
    background-color: rgb(44, 43, 43);
}