body {
   height: 100%;
   overflow-x: hidden;
   background-color: rgb(226, 235, 235);
}
p,h1,h2,h3,h5,h4,span{
   text-align: center;
   color:black;
   border-radius: 12px;
}
.all{
   padding: 2px 0;
   margin-top: 5px;
   margin-bottom: 10px;
   margin-left:10px;
   margin-right:10px;
}
.card {
   border-radius: 10px;
   margin:2% 3.2% 1% 3.2%;
   position: relative;
}
@property --angle{
   syntax: "<angle>";
   initial-value: 0deg;
   inherits:false;
}
.card::after, .card::before{
   content:'';
   position: absolute;
   height:102%;
   width:102%;
   background-image: conic-gradient(from var(--angle),transparent 80%,rgb(3, 3, 94),blue,purple,rgb(250, 23, 23),rgb(255, 255, 255));
   top:50%;
   left:50%;
   translate:-50% -50%;
   z-index:-1;
   padding: 3px ;
   border-radius: 10px;
   animation: 5s spin linear infinite;
}
.card::before{
   filter:blur(1.5rem);
   opacity:0.8;
}
@keyframes spin{
   from{
      --angle:0deg;
   }
   to{
      --angle:360deg;
   }
}
.icon-good {
   background-image: url('../ico/good.png');
   background-size: 75%; /* Adjust as needed */
   background-repeat: no-repeat;
   display: inline-block; /* or block depending on your layout */
   width: 40%; /* Width is 60% of its containing .col element */
   height: 0; /* Initial height is set to 0 */
   padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
   background-position: center top;
   margin: auto; /* This will help center the block if it's smaller than the column */
}
.icon-moderate {
   background-image: url('../ico/moderate.png');
   background-size: 75%; /* Adjust as needed */
   background-repeat: no-repeat;
   display: inline-block; /* or block depending on your layout */
   width: 40%; /* Width is 60% of its containing .col element */
   height: 0; /* Initial height is set to 0 */
   padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
   background-position: center top;
   margin: auto; /* This will help center the block if it's smaller than the column */
}
.icon-unhealthy-sensitive {
   background-image: url('../ico/unhealthy-sensitive.png');
  background-size: 75%; /* Adjust as needed */
   background-repeat: no-repeat;
   display: inline-block; /* or block depending on your layout */
   width: 40%; /* Width is 60% of its containing .col element */
   height: 0; /* Initial height is set to 0 */
   padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
   background-position: center top;
   margin: auto; /* This will help center the block if it's smaller than the column */
}
.icon-unhealthy {
   background-image: url('../ico/unhealthy.png');
  background-size: 75%; /* Adjust as needed */
   background-repeat: no-repeat;
   display: inline-block; /* or block depending on your layout */
   width: 40%; /* Width is 60% of its containing .col element */
   height: 0; /* Initial height is set to 0 */
   padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
   background-position: center top;
   margin: auto; /* This will help center the block if it's smaller than the column */
}
.icon-very-unhealthy {
   background-image: url('../ico/very-unhealthy.png');
   background-size: 75%; /* Adjust as needed */
   background-repeat: no-repeat;
   display: inline-block; /* or block depending on your layout */
   width: 40%; /* Width is 60% of its containing .col element */
   height: 0; /* Initial height is set to 0 */
   padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
   background-position: center top;
   margin: auto; /* This will help center the block if it's smaller than the column */
}
.icon-hazardous{
   background-image: url('../ico/hazardous.png');
  background-size: 75%; /* Adjust as needed */
   background-repeat: no-repeat;
   display: inline-block; /* or block depending on your layout */
   width: 40%; /* Width is 60% of its containing .col element */
   height: 0; /* Initial height is set to 0 */
   padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
   background-position: center top;
   margin: auto; /* This will help center the block if it's smaller than the column */
}

.good {
   background-color: #00e400;
   color: #ffffff;
}


.moderate {
   background-color: #ffff00;
   color: #333333;
}


.unhealthy-sensitive {
   background-color: #ff7e00;
   color: #ffffff;
}


.unhealthy {
   background-color: #ff0000;
   color: #ffffff;
}


.very-unhealthy {
   background-color: #8f3f97;
   color: #ffffff;
}


.hazardous {
   background-color: #7e0023;
   color: #ffffff;
}