body {
    background-color : rgb(240, 240, 240) ;
    font-family: Arial;
}
.top {
    text-align : center ;
    padding : 5px ;
    background-color : rgb(32, 30, 30) ;
    color : rgb(154, 144, 144) ;
}
.LB {
    border-bottom : 5px solid black ;
}
.lineH {
    line-height: 2px;
}
p {
    text-align: center;
}
