<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/setting.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/newitem.css">
</head>
<body class=""> 
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          const mode = localStorage.getItem('darkmode');
          if (mode === 'dark') {
            document.body.classList.add('darkmode');
            document.body.classList.remove('lightmode');
          } else {
            document.body.classList.add('lightmode');
            document.body.classList.remove('darkmode');
          }
        });
        </script>
    <div class="top-bar">
        <a href="{{ url_for('homepage') }}">
            <span class="material-icons">arrow_back_ios</span>
        </a>
        <div class="center">
            <span id="contactAdmin">Admin Contact</span>
        </div>
    </div>
    <div class="center">
        <div class="mainbox">
            <div class="upload-box pman-img">
                <img src="../static/ico/pman.jpg">
            </div>
            <div class="input-area">
                <p class="form-label" id="name">Mr. Pongpop Pongsuk</p>
                <p class="form-label" id="tel">Tel: 053-943412</p>
                <p class="form-label" id="email">Email: pongpop.po@cmu.ac.th</p>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    const translations = {
        en: {
            name: "Mr. Pongpop Pongsuk",
            tel: "Tel: 053-943412",
            email: "Email: pongpop.po@cmu.ac.th",
            contactAdmin: "Admin Contact"
        },
        th: {
            name: "นายป้องภพ พงษ์สุข",
            tel: "โทร: 053-943412",
            email: "อีเมล: pongpop.po@cmu.ac.th",
            contactAdmin: "ติดต่อแอดมิน"
        }
    };

    function changeLanguage(lang) {
        document.querySelector('#name').textContent = (translations[lang].name);
        document.querySelector('#tel').textContent = (translations[lang].tel);
        document.querySelector('#email').textContent = (translations[lang].email);
        document.querySelector('#contactAdmin').textContent = (translations[lang].contactAdmin);
    }

    changeLanguage(localStorage.getItem('lang'))
</script>