<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/category.css">

<body>
<div class="top-bar">
    <div class="back">
        <a href="{{ url_for('stockmenu') }}"></a>
        <span class="material-icons">arrow_back</span> 
    </div>
    
    <div class="category">
        <span class="material-icons">list_alt</span>
        <span>Category</span>
    </div>

    <div class="cart">
        <span class="material-icons">shopping_cart_checkout</span>
        <span>Wating list</span>
    </div>
</div>

<div class="search-bar">
    <span class="material-icons">search</span>
    <input type="search" class="search-input" placeholder="Search...">
</div>

<div class="show_Category">
    
</div>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const categories = {{ categories | tojson }};
    console.log(categories);
    var admin;
    var current_admin=$("#current_admin").val();
    $.when(
        $.get("/admin"),
        $.get("/category")
    ).done(function(admin, category) {
        admin = admin[0];  
        category = category[0];
        showCategory(admin, category);
    });
    function navigateTo(url){
        window.location.href = url;
    }
    function showCategory(admin,category){
        category.forEach(
            function(cte_list) {
                let show = `<div class="category-box" data-id="${cte_list.cateID}">
                    <div style= "display : flex ;">
                       
                    </div>
                </div>`;
                $('.show_Category').append(show);
        }
        )
    }
    function searchCategory(query) {
        const filteredData = category.filter(entry => 
            entry.category_name.toLowerCase().includes(query.toLowerCase())
        );
        $('.show_Category').empty();

        showCategory(admin,filteredData);
    }
    document.querySelector('.search-bar input').addEventListener('input', function(event) {
        searchCategory(event.target.value.trim());
    });
</script>
