<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/history.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=download" />
    <title>History Page</title>
</head>
<body class=""> 
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          const mode = localStorage.getItem('darkmode');
          if (mode === 'dark') {
            document.body.classList.add('darkmode');
            document.body.classList.remove('lightmode');
          } else {
            document.body.classList.add('lightmode');
            document.body.classList.remove('darkmode');
          }
        });
    </script>
    <div class="top-bar">
        <a href="{{ url_for('homepage') }}">
            <span class="material-icons">arrow_back_ios</span>
        </a>
        <div class="center">
            <span id="title">History</span>
        </div>
        <a href="{{ url_for('export') }}">
            <span class="material-symbols-outlined">download</span>
        </a>
    </div>
    
    {% if history %}
        {% for set in history %}
            {% if not (current_user.is_admin or current_user.is_sadmin) %}
                {% if current_user.UserID == set.UserID %}
                    <div class="card" data-id="{{ set.itemID }}">
                        <div class="item">
                            <!-- <div class="profile-wrapper">
                                <div class="profile-circle">
                                    {% if current_user.profile_pic %}
                                        <img src="{{ current_user.profile_pic }}"  class="profile-img">
                                    {% else %}
                                        <div class="user-icon">{{ current_user.Fname[0].upper() }}</div>
                                    {% endif %}
                                </div>
                            </div> -->
                            <div class="item-text">
                                <span class="withdrawer">Withdrawer</span><span>{{ set.user.Fname }} {{ set.user.Lname }}</span>
                            </div>
                            <div class="item-text">
                                <span class="itemName">Item name</span><span>{{ set.items.itemName }}</span>
                            </div>
                            <div class="item-text">
                                <span class="itemAmount">Item amount</span><span>{{ set.Quantity }}</span>
                            </div>
                            <div class="item-text">
                                <span class="category">Category</span><span>{{ set.items.category.cateName }}</span>
                            </div>
                            <div class="item-text">
                                <span class="time">Withdraw time</span><span>{{ (set.DateTime|string)[0:19] }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
            <div class="card" data-id="{{ set.itemID }}">
                <div class="item">
                    <div class="item-text">
                        <span class="withdrawer">Withdrawer</span><span>{{ set.user.Fname }} {{ set.user.Lname }}</span>
                    </div>
                    <div class="item-text">
                        <span class="itemName">Item name</span><span>{{ set.items.itemName }}</span>
                    </div>
                    <div class="item-text">
                        <span class="itemAmount">Item amount</span><span>{{ set.Quantity }}</span>
                    </div>
                    <div class="item-text">
                        <span class="category">Category</span><span>{{ set.items.category.cateName }}</span>
                    </div>
                    <div class="item-text">
                        <span class="time">Withdraw time</span><span>{{ (set.DateTime|string)[0:19] }}</span>
                    </div>
                </div>
            </div>
            {% endif %}
        
        {% endfor %}
    {% else %}
        <p class="item-text" id="noData">No data yet</p>
    {% endif %}
</body>
<script>
    const translations = {
        en: {
            title: "History",
            withdrawer: "Withdrawer",
            itemName: "Item name",
            itemAmount: "Item amount",
            category: 'Category',
            time: 'Withdraw time'
        },
        th: {
            title: "ประวัติ",
            withdrawer: "ผู้เบิก",
            itemName: "ชื่อของ",
            itemAmount: "จำนวนของ",
            category: 'ประเภท',
            time: 'เวลาที่เบิก'
        }
    };

    function changeLanguage(lang) {
        document.querySelector('#title').textContent = (translations[lang].title);
        document.querySelectorAll('.withdrawer').forEach(e => {
            e.textContent = (translations[lang].withdrawer);
        });
        document.querySelectorAll('.itemName').forEach(e => {
            e.textContent = (translations[lang].itemName);
        });
        document.querySelectorAll('.itemAmount').forEach(e => {
            e.textContent = (translations[lang].itemAmount);
        });
        document.querySelectorAll('.category').forEach(e => {
            e.textContent = (translations[lang].category);
        });
        document.querySelectorAll('.time').forEach(e => {
            e.textContent = (translations[lang].time);
        });
    }
    
    changeLanguage(localStorage.getItem('lang'));
</script>
</html>

