<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='ico/stock_logo.png') }}">
    <title>Home page</title>
</head>
<body class="en">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          const mode = localStorage.getItem('darkmode');
          if (mode === 'dark') {
            document.body.classList.add('darkmode');
            document.body.classList.remove('lightmode');
          } else {
            document.body.classList.add('lightmode');
            document.body.classList.remove('darkmode');
          }
        });
    </script>
    <div class="top-bar">
        <div class="profile-wrapper">
            <div class="profile-circle" id="profile_stuff">
                {% if 'https://' in current_user.profile_pic %}
                    <img src="{{ current_user.profile_pic }}"  class="profile-img">
                {% elif current_user.profile_pic %}
                    <img src="{{ url_for('static', filename='img/' + current_user.profile_pic) }}" alt="Profile Picture">
                {% else %}
                    <div class="user-icon">{{ current_user.Fname[0].upper() }}</div>
                {% endif %}
            </div>
            <div class="profile-text">
                <span class="welcome-message" id="welcome">Welcome!<br></span>
                <span>{{ current_user.Fname}} {{ current_user.Lname }}</span>
            </div>
        </div>
        
        <div class="action-wrapper">
            <!-- <button id="theme-switch">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/></svg>
            </button> -->

            <div class="notification-circle notification">
                <a href="{{ url_for('notification') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160ZM480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80Z"/></svg>                  
                    {% if noti_count and noti_count > 0 %}
                    <span class="notification-badge" id="noti-badge">{{ noti_count }}</span>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
    
    
    <div class="category-container">
        <!-- <div class="category">
            <button onclick="urlFor('statistic')" class="circle-button circle-button-lightmode">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M80-120v-80h800v80H80Zm40-120v-280h120v280H120Zm200 0v-480h120v480H320Zm200 0v-360h120v360H520Zm200 0v-600h120v600H720Z"/></svg>
            </button>
            <span id="stats">Statistics</span>
        </div> -->
        
        <div class="category">
            <button onclick="urlFor('history')" class="circle-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-120q-138 0-240.5-91.5T122-440h82q14 104 92.5 172T480-200q117 0 198.5-81.5T760-480q0-117-81.5-198.5T480-760q-69 0-129 32t-101 88h110v80H120v-240h80v94q51-64 124.5-99T480-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-120Zm112-192L440-464v-216h80v184l128 128-56 56Z"/></svg>
            </button>
            <span id="hist">History</span>
        </div>
        

        <div class="category">
            <button onclick="urlFor('newitem')" class="circle-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
            </button>
            <span id="addItem">Add</span>
        </div>

        <div class="category"> 
            <button onclick="urlFor('setting')" class="circle-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm112-260q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Z"/></svg>
            </button>
            <span id="settings">Settings</span>
        </div>
    </div>

    <div class="topfive">
        <span id="topFive">Top 5 Disbursemed Items</span>
    </div>
    <form method="POST">
        <div class="show_select_delta">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> 
            {% for delta in [7,30,90,180] %}
                <button class="delta-item" onclick="form.submit" name="getdelta" value="{{delta}}">
                    {% if delta < 30 %}
                        <span>{{ delta }}</span>
                        {% if delta == 1 %}
                            <span class="dayRange">day</span>
                        {% else %}
                            <span class="daysRange">days</span>
                        {% endif %}
                    {% else %}
                        <span>{{ delta//30 }}</span>
                        {% if delta == 30 %}
                            <span class="monthRange">month</span>
                        {% else %}
                            <span class="monthsRange">months</span>
                        {% endif %}
                    {% endif %}
                </button> 
            {% endfor %}
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert-box">
        <div class="message">
            {{ messages[0] }}
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <div class="topused-container">
        {% if top_items %}
            {% for it in top_items %}
            <div class="item-card" data-id="{{ it.itemID }}">
                <div class="status-dot 
                    {% if it.itemAmount == 0 %}red
                    {% elif it.itemAmount <= it.itemMin %}yellow
                    {% else %}green
                    {% endif %}
                "></div>
                <div class="card-content">
                    <div class="img-wrapper">
                        {% if it.itemPicture %}
                            <img src="{{ url_for('static', filename='img/' ~ it.itemPicture) }}" alt="{{ it.itemName }}">
                        {% else %}
                            <div class="item-icon">{{ it.itemName[0] }}</div>
                        {% endif %}
                    </div>
                    
                    <div class="item-info">
                        <span class="item-name">{{ it.itemName }}</span>
                        <span class="item-details">
                            <span class="inStock">
                                In stock:
                            </span>
                            <span>
                                {{ it.itemAmount }}
                            </span>
                        </span>
                        <span class="item-details">
                            <span class="withdrawn">
                                Withdrawn
                            </span>
                            <span>
                                {{ it.total }}
                            </span>
                        </span>
                        <div class="button-group">
                            <button class="quick-btn withdraw-btn withdraw" onclick="location.href='/withdraw?itemID={{ it.itemID }}'">Withdraw</button>
                            {% if (current_user.is_admin or current_user.is_sadmin) %}
                            <button class="quick-btn edit-btn edit" onclick="location.href='/edit?itemID={{ it.itemID }}'">Edit</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center text" id="noData">No data yet.</p>
        {% endif %}
    </div>


    <div class="bottom-nav">
        <a href="{{ url_for('category') }}" class="nav-item">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                <path d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm-40-600h640v-120H160v120Zm200 280h240v-80H360v80Z"/>
            </svg>
            <span class="action1" id="stock">Stock</span>
        </a>
        <a href="{{ url_for('qr_scanner') }}" class="nav-item">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                <path d="M80-680v-200h200v80H160v120H80Zm0 600v-200h80v120h120v80H80Zm600 0v-80h120v-120h80v200H680Zm120-600v-120H680v-80h200v200h-80ZM700-260h60v60h-60v-60Zm0-120h60v60h-60v-60Zm-60 60h60v60h-60v-60Zm-60 60h60v60h-60v-60Zm-60-60h60v60h-60v-60Zm120-120h60v60h-60v-60Zm-60 60h60v60h-60v-60Zm-60-60h60v60h-60v-60Zm240-320v240H520v-240h240ZM440-440v240H200v-240h240Zm0-320v240H200v-240h240Zm-60 500v-120H260v120h120Zm0-320v-120H260v120h120Zm320 0v-120H580v120h120Z"/>
            </svg>
            <span class="action2" id="qrScan">QR Scan</span>
        </a>

        <div class="nav-item">
            {% if (current_user.is_admin or current_user.is_sadmin) %}
                <a href="{{ url_for('manage_user') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                        <path d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Z"/>
                    </svg>
                </a>
                <span class="action3" id="manageAdmin">Manage Admin</span>
            {% else %}
                <a href="{{ url_for('admin_contact')}}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                        <path d="M480-400q33 0 56.5-23.5T560-480q0-33-23.5-56.5T480-560q-33 0-56.5 23.5T400-480q0 33 23.5 56.5T480-400ZM320-240h320v-23q0-24-13-44t-36-30q-26-11-53.5-17t-57.5-6q-30 0-57.5 6T369-337q-23 10-36 30t-13 44v23ZM720-80H240q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80Zm0-80v-446L526-800H240v640h480Zm-480 0v-640 640Z"/>
                    </svg>
                </a>
                <span class="action3" id="contactAdmin">Admin Contact</span>
            {% endif %}
        </div>
    </div>

    <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/service-worker.js")
        .then(reg => console.log("Service Worker registered", reg))
        .catch(err => console.error("SW registration failed", err));
        }
    </script>
</body>
</html>
<script>
    // let darkmode = localStorage.getItem('darkmode');
    // const themeSwitch = document.getElementById('theme-switch');
    // const circleButtons = document.querySelectorAll('.circle-button');

    // const enableDarkmode = () => {
    //     document.body.classList.replace('lightmode', 'darkmode');
    //     localStorage.setItem('darkmode', 'active');
    //     circleButtons.forEach(button => {
    //         button.classList.replace('circle-button-lightmode', 'circle-button-darkmode');
    //     })
    // }

    // const disableDarkmode = () => {
    //     document.body.classList.replace('darkmode', 'lightmode');
    //     localStorage.setItem('darkmode', null);
    //     circleButtons.forEach(button => {
    //         button.classList.replace('circle-button-darkmode', 'circle-button-lightmode');
    //     })
    // }

    // if(darkmode === "active") enableDarkmode()

    // themeSwitch.addEventListener("click", () => {
    //     darkmode = localStorage.getItem('darkmode')
    //     darkmode !== "active" ? enableDarkmode() : disableDarkmode()
    // })
    
    function urlFor(link) {
        location.href = '/' + link;
    }

    const translations = {
        en: {
            welcome: "Welcome",
            hist: "History",
            addItem: "Add",
            settings: "Settings",
            topFive: "Top 5 Disbursed Items",
            inStock: "In stock: ",
            withdrawn: "Withdrawn: ",
            withdraw: "Withdraw",
            edit: "Edit",
            noData: "No data yet.",
            stock: "Stock",
            qrScan: "QR Scan",
            manageAdmin: "Manage Admin",
            contactAdmin: "Admin Contact",
            dayRange: "day",
            daysRange: "days",
            monthRange: "month",
            monthsRange: "months",
        },
        th: {
            welcome: "ยินดีต้อนรับ",
            stats: "สถิติ",
            hist: "ประวัติ",
            addItem: "เพิ่ม",
            settings: "ตั้งค่า",
            topFive: "ของที่ถูกเบิกบ่อยที่สุด 5 อันดับแรก",
            inStock: "ในคลัง: ",
            withdrawn: "เบิกแล้ว: ",
            withdraw: "เบิก",
            edit: "แก้ไข",
            noData: "ยังไม่มีข้อมูล ณ ขณะนี้",
            stock: "คลัง",
            qrScan: "สแกน QR",
            manageAdmin: "จัดการแอดมิน",
            contactAdmin: "ติดต่อแอดมิน",
            dayRange: "วัน",
            daysRange: "วัน",
            monthRange: "เดือน",
            monthsRange: "เดือน",
        }
    };

    function changeLanguage(lang) {
        document.querySelector('#welcome').textContent = (translations[lang].welcome);
        document.querySelector('#hist').textContent = (translations[lang].hist);
        document.querySelector('#addItem').textContent = (translations[lang].addItem);
        document.querySelector('#settings').textContent = (translations[lang].settings);
        document.querySelector('#topFive').textContent = (translations[lang].topFive);
        document.querySelector('#stock').textContent = (translations[lang].stock);
        document.querySelector('#qrScan').textContent = (translations[lang].qrScan);
        document.querySelectorAll('.dayRange').forEach(e => {
            e.textContent = (translations[lang].dayRange);
        });
        document.querySelectorAll('.daysRange').forEach(e => {
            e.textContent = (translations[lang].daysRange);
        });
        document.querySelectorAll('.monthRange').forEach(e => {
            e.textContent = (translations[lang].monthRange);
        });
        document.querySelectorAll('.monthsRange').forEach(e => {
            e.textContent = (translations[lang].monthsRange);
        });
    }

    function changeLanguageHaveData(lang) {
        document.querySelectorAll('.inStock').forEach(e => {
            e.textContent = (translations[lang].inStock);
        });
        document.querySelectorAll('.withdrawn').forEach(e => {
            e.textContent = (translations[lang].withdrawn);
        });
        document.querySelectorAll('.withdraw').forEach(e => {
            e.textContent = (translations[lang].withdraw);
        });
        document.querySelectorAll('.edit').forEach(e => {
            e.textContent = (translations[lang].edit);
        });
    }

    document.getElementById('profile_stuff').addEventListener('click', profile_edit)

    function profile_edit(){
        console.log("huh???")
        urlFor("profile_edit")
    }

    {% if top_items %}
        changeLanguageHaveData(localStorage.getItem('lang'))
    {% else %}
        document.querySelector('#noData').textContent = (translations[localStorage.getItem('lang')].noData);
    {% endif %}
    
    changeLanguage(localStorage.getItem('lang'));

    {% if (current_user.is_admin or current_user.is_sadmin) %}
        document.querySelector('#manageAdmin').textContent = (translations[localStorage.getItem('lang')].manageAdmin);
    {% else %}
        document.querySelector('#contactAdmin').textContent = (translations[localStorage.getItem('lang')].contactAdmin);
    {% endif %}
</script>