<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/loginA.css">
    <title>Document Title</title>
</head>
<body>
    <div class="app-container">
        <img src="../static/ico/stock_logo.png" alt="stock-logo" class="logo" />
      
        <p class="app-title">CS' Stock Managing System</p>
        <div class="text">
            <p>Please contact admin:</p>
            <p>pongpop@TBA.com</p>
            <p>or</p>
        </div>
        <div class="login-button" onclick="touchLogin()">
            <span>Continue without Login</span>
        </div>
      </div>
</body>
<script>
    const form = document.querySelector('form')
</script>

</html>