body {
    /* background-color: white; */
    background: linear-gradient(360deg,#bb8245 , white);
    font-family: 'Nunito', sans-serif;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

.center-screen {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.text {
    font-size: 1.65rem;
}

.border {
    border: 2px solid black;
    border-radius: 40px;
    margin: auto;
    width: 50%;
    background-color: white;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 100px;
    border: none;
    overflow: hidden;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.button-text{
    font-size: 1.65rem;
}

img {
    width: 65%;
    height: 65%;
    padding-top: 80px;
}

.header {
    font-size: 2rem;
    font-family: 'League Spartan', sans-serif;
    
}

.head-container{
    border-style: none none solid none;
    border-width: 3px;
    border-color: lightgray;
    position: absolute;  
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    top: 0;
    padding-bottom: 10px;
}
