<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/loginB.css">
    <title>Document Title</title>
</head>
<body>
    <div class="app-container">
        <img src="../static/ico/stock_logo.png" alt="stock-logo" class="logo" />
      
        <p class="app-title">CS' Stock Managing System</p>
        <div class="pin-container">
            <form action="">
                <input type="password" class="pin" maxlength="1" required>
                <input type="password" class="pin" maxlength="1" required>
                <input type="password" class="pin" maxlength="1" required>
                <input type="password" class="pin" maxlength="1" required>
                <input type="password" class="pin" maxlength="1" required>
                <input type="password" class="pin" maxlength="1" required>
            </form>
        </div>
      
        <div class="login-button" onclick="faceLogin()">
          <span class="material-icons icon">face</span>
          <span>Login with Face ID</span>
        </div>
        
        <div class="login-button" onclick="touchLogin()">
          <span class="material-icons icon">fingerprint</span>
          <span>Login with Touch ID</span>
        </div>
      </div>
</body>
<script>
    const pins = document.querySelectorAll('.pin')
    const form = document.querySelector('form')

    pins.forEach((pin, index) => {
        pin.dataset.id = index
        
        pin.addEventListener('keyup', () => {
            if (pin.value.length == 1) {

                if (pins[pins.length - 1].value.length == 1) form.submit() 

                pins[parseInt(pin.dataset.id) + 1].focus()
            }
        })
    })

</script>
  
</html>