<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/loginB.css">
    <title>Document Title</title>
</head>
<body class="center-screen">
    <div class="center-text text">
        <img src="../icon/stock_logo.png">
        <p>
            Why are you A? Presents
        </p>
        <p>
            CS'Stock Managing System
        </p>
        <div>
            <circle class="circle"></circle>
            <circle class="circle"></circle>
            <circle class="circle"></circle>
            <circle class="circle"></circle>
            <circle class="circle"></circle>
            <circle class="circle"></circle>
        </div>
        <p class="border">
            login with Face ID/Touch ID 
        </p>
    </div>
</body>
</html>