<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/newitem.css">
</head>

<body class="mobilescreen">
    <a href="{{ url_for('stockmenu') }}"> 
        <span class="material-icons reply-icon" style="font-size: 2rem;">arrow_back_ios_new</span>
    </a>
    <div class="mainbox">
        <div class="row">
            <span class="recName"></span>
            <span>New Item</span>
        </div>
        <div class="row align-center">
            <img src="../static/ico/default_image.png" class="default-icon">
        </div>
        <div class="column">
           	<form>
                <div class="row">
                    <input type="text" class="name-input input-box" placeholder="Item name" required>
                </div>
                <div class="row">
                    <input type="text" class="cate-input input-box" placeholder="Category" required>
                    <input type="text" class="amount-input input-box" placeholder="Amount" required pattern="[0-9]{1,}">
                </div>
                <div class="row">
                    <textarea class="desc-input input-box" rows="4" cols="50" placeholder="Description"></textarea>
                </div>
                <div class="row">
                    <button class="btm-btn">PrintQR</button>
                    <button class="confirm-button btm-btn">Confirm</button>
                </div>
            </form>
		</div>
    </div>
</body>
</html>