<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/newitem.css">
</head>

<body class="th">
    <script>
        const darkmode = localStorage.getItem('darkmode');
        if(darkmode === 'active') {
          document.body.classList.add('darkmode');
        } else {
          document.body.classList.remove('darkmode');
        }
    </script>
    <div class="header">
        <a href="{{ url_for('homepage') }}" class="back-btn">
            <span class="material-icons">arrow_back</span>
        </a>
        <h2>New item</h2>
    </div>
    <div class="center ">
      <div class="mainbox">
        <form method="post" action="{{ url_for('newitem') }}" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <div class="upload-box">
            <label for="img-file" class="upload-label">
                <img src="../static/ico/default_image.png" id="preview-img">
                <span>Add Photo</span>
            </label>
            <input type="file" name="file" accept="image/*" id="img-file" hidden required>
          </div>
          <div class="input-area">
            <label class="form-label">Item Name</label>
            <input type="text" class="input-box" name="getname" placeholder="Enter item name" required>
            <label class="form-label">Category</label>
            <div class="dropdown">
              <input class="input-box" type="text" id="searchBox" placeholder="Select category"
              onkeyup="filterFunction()" onclick="toggleList()" name="getcate">
              <div id="dropdownList" class="dropdown-list">
              {% for cate in category_list %}
              <div onclick="selectItem('{{ cate.cateName }}')">{{ cate.cateName }}</div>
              {% endfor %}
              </div>
            </div>
            <div class="row-2">
              <div class="input-box-row2-left">
                <label class="form-label">Item Amount</label>
                <div class="center">
                  <input type="number" class="input-box-row2" name="getamount" value="1" min="1" required>
                </div>
              </div>
              <div class="input-box-row2-right">
                <label class="form-label">Item Minimum</label>
                <div class="center">
                  <input type="number" class="input-box-row2" name="getmin" value="1" min="1" required>
                </div>
              </div>
            </div>

            <label class="form-label">Item Description</label>
            <textarea class="input-box" rows="3" name="getdes" placeholder="Enter item description"></textarea>
          </div>
          <button class="add-btn" name="submit" value="confirm">Add Item</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    const imgFile = document.getElementById('preview-img');
    const inputBox = document.getElementById('img-file');
    inputBox.addEventListener('change', function () {
      const reader = new FileReader();
      reader.onload = () => imgFile.src = reader.result;
      reader.readAsDataURL(this.files[0]);
    });

    function toggleList() {
      document.getElementById("dropdownList").style.display = "block";
    }
    function filterFunction() {
      let input = document.getElementById("searchBox");
      let filter = input.value.toUpperCase();
      let div = document.getElementById("dropdownList");
      let items = div.getElementsByTagName("div");
      for (let i = 0; i < items.length; i++) {
        let txtValue = items[i].textContent || items[i].innerText;
        items[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
      }
    }
    function selectItem(value) {
      let input = document.getElementById("searchBox");
      input.value = value;
      document.getElementById("dropdownList").style.display = "none";
    }
    window.onclick = function (e) {
      if (!e.target.matches('#searchBox')) {
        document.getElementById("dropdownList").style.display = "none";
      }
    }
  </script>
</body>
</html>
