<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/setting.css">
    <title>Setting Page</title>
</head>
<body>
    <div class="top-bar">
        <span class="material-icons">arrow_back_ios_new</span>
    </div>

    <div class="profile">
        <span class="material-icons">circle</span>
    </div>

    <div class="item">
        <div>
            <span class="material-icons">contrast</span>
        </div>
    </div>

</body>
</html>