<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/setting.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Setting Page</title>
</head>
<body class="lightmode"> 
    <script>
        const darkmode = localStorage.getItem('darkmode');
        if(darkmode === 'active') {
          document.body.classList.add('darkmode');
        } else {
          document.body.classList.remove('darkmode');
        }
    </script>
    <div class="top-bar">
        <a href="{{ url_for('homepage') }}">
            <span class="material-icons">arrow_back_ios</span>
        </a>
        <div class="center">
            <span>Setting</span>
        </div>
    </div>

    <!-- กด card item แล้ว drop down ของที่เบิก -->
</body>
</html>

