<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/loginA.css">
    <title>Document Title</title>
</head>
<body>
    <div class="app-container">
        <img src="../static/ico/stock_logo.png" alt="stock-logo" class="logo" />
      
        <p class="app-title">CS' Stock Managing System</p>
        <div class="text">
            <p>Please contact admin:</p>
            <p>pongpop@TBA.com</p>
            <p>or</p>
        </div>
        <div class="login-button">
            <a href="{{ url_for('google') }}" class="button is-large is-fullwidth">
            <span class="icon">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" style="height: 20px;">
            </span>
            <span>Signin with Google</span>
            </a>
        </div>
        <div class="login-button" onclick="touchLogin()">
            <span>Continue without Login</span>
        </div>
      </div>
</body>
<script>
    const form = document.querySelector('form')
</script>

</html>