<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/stockmenu.css">
</head>

<body class="mobilescreen">
    <div class="mainbox">
        <div class="reply-icon">
            <a href="{{ url_for('homepage') }}"> 
                <span class="material-icons" style="font-size: 2rem; color: #FFF">arrow_back_ios_new</span> 
            </a> 
        </div>
        <div class="row">
            <span class="recName"></span>
            <span>Stock Menu</span>
        </div>
        <div class="column">
           	<a type="button" class="nav-box" href="{{ url_for('category') }}">
                <span>Category</span>
                <img src="../static/ico/category.png" class="category-icon" >
            </a>
           	<a type="button" class="nav-box" href="{{ url_for('newitem') }}">
                <span>New Item</span>
            	<img src="../static/ico/addStock.png" class="addStock-icon">
            </a>
		</div>
    </div>
</body>
</html>

<script>
function navigateTo(url) {
    window.location.href = url;
}
</script>
