<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/waiting.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="top-bar">
        <a href="{{ url_for('stockmenu') }}"> 
        <span class="material-icons">arrow_back_ios_new</span>
        </a>

        <span class="text">Waiting list</span>
    </div>
    
    <div class="bot-bar">
        <div class="bot-text">
            <span>Total</span>
        </div>
        
        <div class="bot-container">
            <span>Disbursement</span>
        </div>
    </div>
</body>
</html>